// Main
@font-face {
  font-family: 'Main';
  src: url('../fonts/Main/Main-Black.woff2') format('woff2'),
       url('../fonts/Main/Main-Black.woff') format('woff'),
       url('../fonts/Main/Main-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// RobotoMono
@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono/RobotoMono-Regular.woff2') format('woff2'),
       url('../fonts/RobotoMono/RobotoMono-Regular.woff') format('woff'),
       url('../fonts/RobotoMono/RobotoMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoMono';
  src: url('../fonts/RobotoMono/RobotoMono-Bold.woff2') format('woff2'),
       url('../fonts/RobotoMono/RobotoMono-Bold.woff') format('woff'),
       url('../fonts/RobotoMono/RobotoMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}