header.header
  .container
    .header__wrapper
      .header__logo
        a.header__logo-link(href="/") N<span class="header__logo-full">ikita</span>S<span class="header__logo-full">okolov</span>
      nav.header__nav
        ul.header__menu
          li.header__menu-item
            a.header__menu-link(href="/#cases") Кейсы
          li.header__menu-item
            a.header__menu-link(href="/#contacts") Контакты
      .header__btn
        a.btn.btn--white(href="#") CV <i class="icon-right icon-arrow-right"></i>
      .header__navbar
        .header__burger
          .header__burger-line
          .header__burger-line
          .header__burger-line