.steps {
  padding: 200px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
  }

  &__item {
    width: 48%;
    min-height: 180px;
    margin: 0 1% 24px;
    padding: 32px;
    border-radius: 12px;
    background: var(--gray);
  }

  &__item-title {
    margin: 0 0 16px;
    font-size: 24px;
  }

  &__item-desc {
    font-size: 16px;
  }
}

@include for-size(tablet) {
  .steps {
    padding: 60px 0;

    &__item {
      width: 100%;
      min-height: auto;
      margin: 0 0 16px;
      padding: 24px;
    }

    &__item-title {
      font-size: 18px;
    }
  }
}

@include for-size(phone) {
  .steps {
    &__item-title {
      font-size: 16px;
    }
  }
}