section.steps
  .container 
    .steps__wrapper
      h2.section-title Дизайн-процесс
      .steps__list 
        .steps__item.gsap-fade-up
          h3.steps__item-title 1. Исследование и Анализ
          .steps__item-desc <b>Цель:</b> Понять целевую аудиторию, их потребности, проблемы и поведение. Изучить продукты конкурентов.
        .steps__item.gsap-fade-up
          h3.steps__item-title 2. Идеи и Концептуализация
          .steps__item-desc <b>Цель:</b> Генерация идей и гипотез, которые удовлетворяют выявленные потребности.
        .steps__item.gsap-fade-up
          h3.steps__item-title 3. Прототипирование
          .steps__item-desc <b>Цель:</b> Визуализация идей и концепций в форме прототипов.
        .steps__item.gsap-fade-up
          h3.steps__item-title 4. Тестирование
          .steps__item-desc <b>Цель:</b> Проверка прототипов на реальных пользователях для выявления проблем и улучшения.
        .steps__item.gsap-fade-up
          h3.steps__item-title 5. Дизайн
          .steps__item-desc <b>Цель:</b> Создание визуального дизайна интерфейса.
        .steps__item.gsap-fade-up
          h3.steps__item-title 6. Разработка
          .steps__item-desc <b>Цель:</b> Дизайн ревью для реализации качества продукта.
        .steps__item.gsap-fade-up
          h3.steps__item-title 7. Запуск и Поддержка
          .steps__item-desc <b>Цель:</b> Обеспечение успешного запуска и поддержка продукта после релиза.
        .steps__item.gsap-fade-up
          h3.steps__item-title 8. Развитие продукта
          .steps__item-desc <b>Цель:</b> Обеспечение непрерывного улучшения продукта.
