.icon-left {
  margin-right: 4px;
  vertical-align: middle;
  transition: 0.3s;
}

.icon-right {
  margin-left: 4px;
  vertical-align: middle;
  transition: 0.3s;
}

.icon-arrow-right {
  display: inline-block;
  margin-top: -2px;
  width: 20px;
  height: 20px;
  transition: 0.3s;
  vertical-align: middle;
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.6569 8.34326L5.65686 1.41506V15.2715L17.6569 8.34326ZM1.65686 9.54326H6.85686V7.14326H1.65686V9.54326Z' fill='%23171719'/%3E%3C/svg%3E%0A");
}

.icon-arrow-left {
  display: inline-block;
  margin-top: -2px;
  width: 19px;
  height: 19px;
  transition: 0.3s;
  vertical-align: middle;
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.34375 8.65698L13.3438 15.5852L13.3437 1.72878L1.34375 8.65698ZM17.3437 7.45698L12.1438 7.45698L12.1438 9.85698L17.3438 9.85698L17.3437 7.45698Z' fill='white'/%3E%3C/svg%3E%0A");
}

.icon-arrow-down {
  display: inline-block;
  margin-top: -4px;
  width: 18px;
  height: 18px;
  transition: 0.3s;
  vertical-align: middle;
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 17.6569L15.9282 5.65686L2.0718 5.65686L9 17.6569ZM7.8 1.65686L7.8 6.85686L10.2 6.85686L10.2 1.65686L7.8 1.65686Z' fill='%23171719'/%3E%3C/svg%3E%0A");
}
