section.charge 
  .container 
    .charge__wrapper
      h2.section-title Основной стэк
      .gray-fill.gsap-fade-up
        .tags
          h3.tags__title Front-end
          .tags__list.tags__list--fill
            .tags__item HTML/PUG
            .tags__item CSS/SCSS
            .tags__item БЭМ
            .tags__item JavaScript
            .tags__item TypeScript
            .tags__item ООП
            .tags__item SOLID, DRY, YAGNI, KISS
            .tags__item GSAP
            .tags__item Vue/Nuxt
            .tags__item Composition API
            .tags__item Options API
            .tags__item Pinia/VueX
            .tags__item Vue Router
            .tags__item Rest API
            .tags__item Axios
            .tags__item WebSockets
            .tags__item Jest/Vitest
            .tags__item Webpack
            .tags__item Vite
            .tags__item Gulp
      .gray-fill.gsap-fade-up
        .tags
          h3.tags__title Back-end
        .tags__list.tags__list--fill
          .tags__item Node.js
          .tags__item Express.js
          .tags__item PostgreSQL
          .tags__item Sequelize
          .tags__item Sequelize-cli
          .tags__item Express-validator
          .tags__item YUP
          .tags__item JWT
          .tags__item Middlewares
          .tags__item CORS
          .tags__item Nodemailer
          .tags__item S3 хранилище
          .tags__item Multer
          .tags__item Winston (Логирование)
      .gray-fill.gsap-fade-up
        .tags
          h3.tags__title Инструменты
        .tags__list.tags__list--fill
          .tags__item Git
          .tags__item Docker
          .tags__item Docker-compose
          .tags__item Ubuntu
          .tags__item Nginx
          .tags__item Figma
          .tags__item Postman
          .tags__item Lambdatest
          .tags__item PageSpeed Insights

