section.charge 
  .container 
    .charge__wrapper
      h2.section-title Обязанности
      .gray-fill.gsap-fade-up
        .tags
          h3.tags__title Продукт
          .tags__list.tags__list--fill
            .tags__item CJM
            .tags__item JTBD
            .tags__item Custdev
            .tags__item Исследования рынка и конкурентов
            .tags__item Анализ поведения пользователей
      .gray-fill.gsap-fade-up
        .tags
          h3.tags__title UX/UI
        .tags__list.tags__list--fill
          .tags__item Структура
          .tags__item Информационная архитектура
          .tags__item Проектирование
          .tags__item Прототипирование
          .tags__item Дизайн
          .tags__item Работа с дизайн системами
          .tags__item Тестирование пользовательских интерфейсов
          .tags__item Формирование требований к интерфейсам
