section.hero
  .container
    .hero__wrapper.gsap-fade-out
      .hero__content
        h1.visually-hidden Никита Соколов - Frontend разработчик
        .hero__subtitle Никита Соколов
        .hero__title Frontend разработчик
        .hero__tags
          .tags__list 
            .tags__item JS/TS
            .tags__item Vue/Nuxt
            .tags__item Express.js
      .hero__img 
        img(src="../assets/img/hero.png", alt="hero img")
      .gsap-fade-out-marker