.hero {
  padding: 0;

  &__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    min-height: calc(100vh - 100px);
  }

  &__subtitle {
    font-size: 24px;
    font-family: var(--font-family-title);
    font-weight: 900;
    text-transform: uppercase;
  }

  &__title {
    margin: 16px 0 24px;
    font-size: 70px;
    font-family: var(--font-family-title);
    font-weight: 900;
    text-transform: uppercase;
  }

  &__tags {
    padding-right: 40%;
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: auto;
    right: 0;
    width: 620px;
    margin-top: -50px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 2000px) {
  .hero {
    &__wrapper {
      min-height: auto;
      padding: 200px 0 300px;
    }
  }
}

@media screen and (max-width: 1440px) {
  .hero {
    &__img {
      width: 500px;
    }
  }
}

@include for-size(tablet) {
  .hero {
    &__wrapper {
      min-height: 75vh;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__title {
      font-size: 42px;
    }

    &__img {
      width: 400px;
    }
  }
}

@include for-size(phone) {
  .hero {
    &__subtitle {
      font-size: 16px;
    }

    &__title {
      font-size: 24px;
      word-break: break-word;
    }

    &__tags {
      padding-right: 0;
    }

    &__img {
      right: -65%;
      width: 400px;
      opacity: 0.5;
    }
  }
}
