.hero {
  padding: 120px 0 0;

  &__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    min-height: calc(100vh - 100px);
  }

  &__subtitle {
    font-size: 24px;
    font-family: var(--font-family-title);
    font-weight: 900;
    text-transform: uppercase;
  }

  &__title {
    margin: 16px 0 24px;
    font-size: 70px;
    font-family: var(--font-family-title);
    font-weight: 900;
    text-transform: uppercase;
  }

  &__tags {
    padding-right: 40%;
  }

  &__img {
    position: absolute;
    z-index: -1;
    top: auto;
    right: 0;
    width: 620px;
    margin-top: -50px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@media screen and (min-width: 2000px) {
  .hero {
    &__wrapper {
      display: flex;
      flex-flow: column;
      justify-content: center;
      position: relative;
      min-height: auto;
      padding: 200px 0;
    }
  }
}