section.hero 
  .container
    .hero__wrapper
      h1.visually-hidden Никита Пойский - Продуктовый дизайнер
      .hero__subtitle Никита Пойский
      .hero__title Продуктовый дизайнер
      .hero__tags
        .tags__list 
          .tags__item UX/UI
          .tags__item Проектирование
          .tags__item Исследования
          .tags__item Аналитика
      .hero__img 
        img(src="../assets/img/hero.png", alt="hero img")