section.contacts#contacts
  .container 
    .contacts__wrapper 
      h2.section-title Контакты
      .contacts__list 
        .contacts__item
          .contacts__item-title Telegram
          a.contacts__item-link(href="#") @NKTPSKK
        .contacts__item
          .contacts__item-title Телефон
          a.contacts__item-link(href="tel:89991373445") +7(999)137-34-45
        .contacts__item 
          .contacts__item-title E-mail
          a.contacts__item-link(href="mailto:poyskiyn@gmail.com") poyskiyn@gmail.com