.contacts {
  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
  }

  &__item {
    width: 31%;
    margin: 0 1% 24px;
    padding: 32px;
    border-radius: 10px;
    background: var(--gray);
  }

  &__item-title {
    margin-bottom: 16px;
    font-family: var(--font-family-title);
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
  }

  &__item-link {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--white);
    text-decoration: none;
    transition: 0.3s;

    &:hover {
      color: #b9b9ba;
      border-bottom: 1px solid #b9b9ba;
    }
  }
}

@include for-size(tablet) {
  .contacts {
    &__list {
      margin: 0;
    }

    &__item {
      width: 100%;
      margin: 0 0 24px;
    }
  }
}