section.activity 
  .container 
    .activity__wrapper
      h2.section-title Дизайн-Активность
      .activity__row 
        .activity__col
          .activity__info.gsap-fade-up
            h3.activity__title Спикер на IT Planet
            .activity__desc
              p Выступаю спикером на вебинарах для участников конкурса. Рассказываю о системном подходе к дизайну и важности исследований.
          .activity__info.gsap-fade-up
            h3.activity__title Менторство
            .activity__desc
              p Помогаю студентам Нижегородской ВШЭ прорабатывать их учебные проекты. Также помогаю финалистам IT Planet дорабатывать их проекты.
        .activity__col.gray-fill.gsap-fade-up 
          .activity__img
            img(src="../assets/img/activity-img.png", alt="IT Planet - Никита Пойский, дизайнер")
          .activity__bg
            img(src="../assets/img/binary-1.png", alt="binary img")
      .activity__bottom.gray-fill.gsap-fade-up
        .activity__tags
          .tags
            h3.tags__title Сотрудничество
            .tags__list.tags__list--fill
              .tags__item Melon fashion group
              .tags__item Synergetic
              .tags__item Danone
              .tags__item H&m group
              .tags__item Abbot
              .tags__item Ашан
              .tags__item Министерства РФ
              .tags__item Триколор
              .tags__item Ао реестр
              .tags__item World class
              .tags__item Huawei
              .tags__item СК Пульс
              .tags__item Росатом