.activity {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
    padding-bottom: 24px;
  }

  &__col {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 48%;
    overflow: hidden;
    margin: 0 1%;
  }

  &__info {
    margin: 0 0 24px;
    padding: 32px;
    border-radius: 12px;
    background: var(--gray);
    color: var(--white);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title {
    margin: 0 0 16px;
    font-size: 24px;
  }

  &__img {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    z-index: 9;
    width: 85%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__bg {
    position: absolute;
    right: -350px;
    bottom: -550px;
    width: 1000px;
    height: 1000px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

@include for-size(tablet) {
  .activity {
    &__row {
      margin: 0;
      padding-bottom: 0;
    }

    &__col {
      width: 100%;
      margin: 0 0 24px;

      &:nth-child(1) {
        order: 2;
      }

      &:nth-child(2) {
        order: 1;
      }

      &:first-child {
        margin-bottom: 0;
      }
    }

    &__title {
      font-size: 18px;
    }

    &__img {
      width: 100%;
    }
  }
}

@include for-size(phone) {
  .activity {
    &__title {
      font-size: 16px;
    }

    &__bg {
      position: absolute;
      right: -450px;
      bottom: -600px;
      width: 900px;
      height: 900px;
    }
  }
}