section.activity 
  .container 
    .activity__wrapper
      h2.section-title Пройденные курсы
      .activity__row 
        .activity__col
          .activity__info.gsap-fade-up
            h3.activity__title Tocode
            .activity__desc
              ul 
                li Vue.js 2 | <a href="https://tocode.ru/c/100200571/full/" target="_blank">Сертификат</a>
                li Vue.js 3 - Практическое руководство | <a href="https://tocode.ru/c/300100571/full/" target="_blank">Сертификат</a>
          .activity__info.gsap-fade-up
            h3.activity__title Purple School
            .activity__desc
              ul 
                li Основы JavaScript | <a href="https://cdn-bucket.hb.bizmrg.com/purple-images/certificates/645dfefc-bb91-4ecb-8f62-2195268cefb0_9_ru.png" target="_blank">Сертификат</a>
                li Продвинутый JavaScript | <a href="https://cdn-bucket.hb.bizmrg.com/purple-images/certificates/15150038-f9dc-4239-8d5e-e82c9ed15878_11_ru.png" target="_blank">Сертификат</a>
                //li TypeScript с нуля (<a href="https://tocode.ru/c/100200571/full/" target="_blank">Сертификат</a>)
        .activity__col.gray-fill.gsap-fade-up 
          .activity__img
            img(src="../assets/img/cert-list.png", alt="Сертификаты - Никита Соколов, frontend разработчик")
          .activity__bg
            img(src="../assets/img/binary-1.png", alt="binary img")