section.case-detail 
  .container 
    .case-detail__wrapper 
      h1.section-title MelonScan
      .case-detail__row 
        .case-detail__content

          .case-detail__banner
            img.case-detail__img(src="../assets/img/case-1.png", alt="MelonScan")
            .case-detail__bg
              img(src="../assets/img/binary-3.png", alt="binary img")
          
          .case-detail__block
            h2.case-detail__block-title Задача
            .case-detail__block-desc 
              p Спроектировать приложение для сканеров на системе Android, с помощью которого можно оптимизировать и автоматизировать процесс маркировки товаров, комплектации наборов и коробов на производственных фабриках.

          .case-detail__block
            h2.case-detail__block-title Исследования
            .case-detail__block-desc 
              ol 
                li Изучил целевую аудиторию с помощью интервью и опросов;
                li Проанализировал текущий пользовательский опыт;
                li Выстроил текущий флоу и выявил в нем проблемные места;
                li Выделил и описал сценарии, которые должно выполнять приложение.
        
          .case-detail__block
            h2.case-detail__block-title Гипотезы
            .case-detail__block-desc
              p Выстроив структуру приложения, я выделил следующие концепции для его реализации:
              ol 
                li Интерактивно показывать пользователю действия, которые от него требуются, разбивая процессы по шагам;
                li Линейно выполнять ключевое действие в один шаг.
          
          .case-detail__block
            h2.case-detail__block-title Прототипы<br>и тестирование
            .case-detail__block-desc 
              p Основываясь на двух концепциях, были созданы прототипы и протестированы на производстве.
              p Тестирование проходило следующим образом: пользователям ставилась рабочая задача, а мы отслеживали количество завершенных задач и скорость её выполнения.
              p По результатам тестирования победила первая концепция, на основе которой мы продолжили работу.

          .case-detail__block
            h2.case-detail__block-title Дизайн и разработка
            .case-detail__block-desc 
              p Дизайн приложения был разработан на основе Material Design 3 и брендбука клиента. Также были созданы и интегрированы анимированные подсказки для пользователей.
              p В ходе разработки проводилось дизайн-ревью на таких же сканерах, как и у реальных пользователей.
            
          .case-detail__block
            h2.case-detail__block-title Результат
            .case-detail__block-desc 
              ol 
                li Оптимизирован весь производственный процесс с помощью добавления подсказок для исполнителя;
                li Процент неправильных маркировок был снижен на 70% по сравнению с предыдущим приложением.
            .gallery 
              .gallery__list 
                a.gallery__item.gallery__item--large(href="../assets/img/case-detail-1.jpg" data-fancybox="gallery")
                  img.gallery__item-img(src="../assets/img/case-detail-1.jpg", alt="")
                a.gallery__item(href="../assets/img/case-detail-2.jpg" data-fancybox="gallery")
                  img.gallery__item-img(src="../assets/img/case-detail-2.jpg", alt="")
                a.gallery__item(href="../assets/img/case-detail-3.jpg" data-fancybox="gallery")
                  img.gallery__item-img(src="../assets/img/case-detail-3.jpg", alt="")

        .case-detail__sidebar
          .case-detail__sidebar-item
            .case-detail__sidebar-title Теги
            .tags__list.tags__list--small
              .tags__item UX/UI
              .tags__item Android App
          .case-detail__sidebar-item
            .case-detail__sidebar-title Год
            .case-detail__sidebar-text с 2022 по н.в
          .case-detail__sidebar-item
            .case-detail__sidebar-title Клиент
            .case-detail__sidebar-text Melon fashion group
          .case-detail__sidebar-item
            .case-detail__sidebar-title Разработка
            .case-detail__sidebar-text Morizo Digital
          .case-detail__sidebar-btn 
            a.btn.btn--white-outline(href="/#cases") <i class="icon-left icon-arrow-left"></i> Портфолио