extends layouts/default
include helpers/mixins

block variables
  - const title = "NP"
  - const pageId = "main"

block content
  include ../blocks/modules/header/header
  .content
    .content-page
      include ../blocks/modules/hero/hero
      include ../blocks/modules/experience/experience
      include ../blocks/modules/charge/charge
      include ../blocks/modules/stack/stack
      include ../blocks/modules/cases/cases
      include ../blocks/modules/steps/steps
      include ../blocks/modules/activity/activity
      include ../blocks/modules/contacts/contacts
    include ../blocks/modules/footer/footer

block scripts
  script(src="assets/js/vendor.js")
  script(src="assets/js/main.js")