extends layouts/default
include helpers/mixins

block variables
  - const title = "NP"
  - const pageId = "main"

block content
  .content
    include ../blocks/modules/header/header
    .content-page
      include ../blocks/modules/hero/hero
      include ../blocks/modules/experience/experience
    include ../blocks/modules/footer/footer

block scripts
  script(src="assets/js/vendor.js")
  script(src="assets/js/main.js")