.experience {
  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
  }

  &__col {
    display: flex;
    flex-flow: column;
    width: 48%;
    margin: 0 1%;
  }

  &__info {
    flex: 1 0 auto;
    position: relative;
    z-index: 9;
    height: auto;
    overflow: hidden;
    margin-top: 24px;
    padding: 32px;
    border-radius: 12px;
    background: var(--gray);

    &:first-child {
      margin-top: 0;
    }

    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &__bg {
    position: absolute;
    z-index: -1;
    right: -40%;
    bottom: -75%;
    width: 850px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__dates {
    margin-bottom: 4px;
    font-family: var(--font-family-title);
    font-size: 12px;
    text-transform: uppercase;
  }

  &__company {
    margin-bottom: 8px;
    font-family: var(--font-family-title);
    font-size: 16px;
    text-transform: uppercase;
  }

  &__position {
    font-family: var(--font-family-title);
    font-size: 16px;
    text-transform: uppercase;
    color: #b9b9ba;
  }
}

@include for-size(tablet) {
  .experience {
    &__row {
      margin: 0;
    }

    &__col {
      width: 100%;
      margin: 0 0 24px;
    }

    &__bg {
      right: -45%;
      bottom: -35%;
      width: 700px;
      opacity: 0.2;
    }
  }
}

@include for-size(phone) {
  .experience {
    &__bg {
      right: -65%;
      bottom: -350px;
    }
  }
}