section.experience
  .container 
    .experience__wrapper
      h2.section-title Опыт работы
      .experience__row 
        .experience__col
          .experience__info
            P Более 4 лет опыта проектирования интерфейсов для различных устройств. Фокусируюсь на исследовании пользовательских потребностей, формировании эмпатии и критическом мышлении для улучшения UX. Подбираю инструменты с учётом специфики и бюджета проекта.
            p Коммуникабельный, ясно излагаю свою точку зрения, нахожу общий язык с пользователями и командой. Понимаю техническую часть продукта. Постоянно стремлюсь к профессиональному развитию в продуктовом дизайне, улучшая свои навыки и знания.
            .experience__bg 
              img(src="../assets/img/binary-2.png", alt="binary img")
        .experience__col
          .experience__info
            .experience__dates 2020 - н.в.
            .experience__company ООО «Моризо Диджитал» 
            .experience__position UX/UI дизайнер
            p <b>Ключевые достижения на проектах:</b>
            ul 
              li С нуля до релиза довел приложение для сканеров по формированию отгрузок с производства;
              li Спроектировал интерфейс приложение под IPad для министерства РФ;
              li Проектирование и дизайн интерфейса внутреннего стартапа включающего в себя web-редактор и мобильное приложение;
              li Участие на проекте личного кабинета для акционерного регистратора как UX/UI дизайнер и аналитик.
          .experience__info
            .experience__dates 2019 - 2020
            .experience__company Фриланс
            .experience__position UX/UI дизайнер
            p <b>Ключевые достижения на проектах:</b>
            ul 
              li Проектирование и дизайн пользовательского интерфейса (интернет-магазины, корпоративные сайты, сайты студий) для малого и среднего бизнеса.