section.page-404 
  .container 
    .page-404__wrapper 
      .page-404__title 404: Ой, что-то пошло не так!
      .page-404__content
        p <b>Вот что можно сделать:</b>
        ul 
          li Вернуться на <a href="/">главную страницу</a> и попробовать ещё раз.
          li Проверить URL — может быть, там затесалась лишняя буква или цифра.
          li Выпить чашечку кофе и попробовать снова, потому что всё лучше с кофе!