section.cases#cases
  .container 
    .cases__wrapper
      h2.section-title.section-title--black Кейсы
      .cases__list 

        a.cases__item.gsap-fade-zoom(href="/case-detail.html")
          .cases__item-row 
            .cases__item-left
              .cases__item-tags 
                .tags__list.tags__list--small.tags__list--black
                  .tags__item UX/UI
                  .tags__item Android App
              h3.cases__item-title MelonScan
              .cases__item-info
                .cases__item-subtitle Задача
                .cases__item-desc
                  p Оптимизировать и автоматизировать процесс маркировки товаров и формирования отгрузок с фабрик.
                .cases__item-subtitle Результат
                .cases__item-desc
                  ul 
                    li Оптимизирован весь производственный процесс с помощью добавления подсказок для исполнителя;
                    li Процент неправильных маркировок снижен на 70%.
              .cases__item-btn
                button.btn.btn--black Подробнее <i class="icon-right icon-arrow-right"></i>
            .cases__item-right
              img.cases__item-img(src="../assets/img/case-1.png", alt="MelonScan")
              .cases__item-bg
                img(src="../assets/img/binary-3.png", alt="binary img")
        
        a.cases__item.gsap-fade-zoom(href="/case-detail.html")
          .cases__item-row 
            .cases__item-left
              .cases__item-tags 
                .tags__list.tags__list--small.tags__list--black
                  .tags__item UX/UI
                  .tags__item Web App
              h3.cases__item-title ЛКЭ
              .cases__item-info
                .cases__item-subtitle Задача
                .cases__item-desc
                  p Переработать профиль компании, чтобы пользователи быстрее находили нужную информацию. 
                .cases__item-subtitle Результат
                .cases__item-desc
                  ul 
                    li Время завершения ключевого действия сократилось на 40-80% в зависимости от сценария;
                    li Обращения в поддержку уменьшились на 56%
              .cases__item-btn
                button.btn.btn--black Подробнее <i class="icon-right icon-arrow-right"></i>
            .cases__item-right
              img.cases__item-img(src="../assets/img/case-2.png", alt="ЛКЭ")
              .cases__item-bg
                img(src="../assets/img/binary-3.png", alt="binary img")
        
        a.cases__item.gsap-fade-zoom(href="/case-detail.html")
          .cases__item-row 
            .cases__item-left
              .cases__item-tags 
                .tags__list.tags__list--small.tags__list--black
                  .tags__item Research
                  .tags__item IOS App
              h3.cases__item-title World Class
              .cases__item-info
                .cases__item-subtitle Задача
                .cases__item-desc
                  p Увеличить количество пользователей приложения среди членов клуба.
                .cases__item-subtitle Результат
                .cases__item-desc
                  ul 
                    li Выстроил план действий по повышению заинтересованности к приложению;
                    li Выявил проблемные места приложения.
              .cases__item-btn
                button.btn.btn--black Подробнее <i class="icon-right icon-arrow-right"></i>
            .cases__item-right
              img.cases__item-img(src="../assets/img/case-3.png", alt="World Class")
              .cases__item-bg
                img(src="../assets/img/binary-3.png", alt="binary img")

        a.cases__item.gsap-fade-zoom(href="/case-detail.html")
          .cases__item-row 
            .cases__item-left
              .cases__item-tags 
                .tags__list.tags__list--small.tags__list--black
                  .tags__item UX
                  .tags__item Web App
              h3.cases__item-title Веб-портал
              .cases__item-info
                .cases__item-subtitle Задача
                .cases__item-desc
                  p Сократить время, затрачиваемое оператором на обработку заявок по гарантийному случаю.
                .cases__item-subtitle Результат
                .cases__item-desc
                  ul 
                    li Переработали логику обработки заявки;
                    li Общее время обработки заявки оператором сократилось на 27-32%.
              .cases__item-btn
                button.btn.btn--black Подробнее <i class="icon-right icon-arrow-right"></i>
            .cases__item-right
              img.cases__item-img(src="../assets/img/case-4.png", alt="Веб-портал")
              .cases__item-bg
                img(src="../assets/img/binary-3.png", alt="binary img")
