section.cases#cases
  .container 
    .cases__wrapper
      h2.section-title.section-title--black Кейсы
      .cases__list 

        .cases__item.gsap-fade-zoom
          .cases__item-row 
            .cases__item-left
              .cases__item-tags 
                .tags__list.tags__list--small.tags__list--black
                  .tags__item Vue
                  .tags__item Express.js
              h3.cases__item-title Evanprofi
              .cases__item-info
                .cases__item-subtitle О проекте
                .cases__item-desc
                  p Веб-приложение для мотивации партнеров, которые устанавливают/продают оборудование компании.
                .cases__item-subtitle Функционал
                .cases__item-desc
                  ul 
                    li Загрузка фотоотчетов и данных оборудования;
                    li Автозаполнение данных через QR-сканер;
                    li Автоматический расчет вознаграждений;
                    li Многоуровневая система бонусов;
                    li Пользовательские тесты с вознаграждениями.
              .cases__item-btn
                a.btn.btn--black(href="/case-detail.html") Подробнее <i class="icon-right icon-arrow-right"></i>
            .cases__item-right
              img.cases__item-img(src="../assets/img/case-1.png", alt="MelonScan")
              .cases__item-bg
                img(src="../assets/img/binary-3.png", alt="binary img")
        
        .cases__item.gsap-fade-zoom
          .cases__item-row 
            .cases__item-left
              .cases__item-tags 
                .tags__list.tags__list--small.tags__list--black
                  .tags__item Vue
                  .tags__item Express.js
              h3.cases__item-title Y-tracker
              .cases__item-info
                .cases__item-subtitle О проекте
                .cases__item-desc
                  p Сервис мониторинга времени и повышения продуктивности (Аналог Toggl Track)
                .cases__item-subtitle Функционал
                .cases__item-desc
                  ul 
                    li Отслеживание времени активной задачи c возможностью выбрать проект;
                    li Аналитика с фильтрацией и поиском по параметрам;
                    li Отчеты по проектам за выбранный период времени.
              .cases__item-btn
                a.btn.btn--black(href="/case-detail.html") Подробнее <i class="icon-right icon-arrow-right"></i>
            .cases__item-right
              img.cases__item-img(src="../assets/img/case-2.png", alt="ЛКЭ")
              .cases__item-bg
                img(src="../assets/img/binary-3.png", alt="binary img")
        
        .cases__item.gsap-fade-zoom
          .cases__item-row 
            .cases__item-left
              .cases__item-tags 
                .tags__list.tags__list--small.tags__list--black
                  .tags__item Vanilla JS
              h3.cases__item-title Tele2 - Пермь
              .cases__item-info
                .cases__item-subtitle О проекте
                .cases__item-desc
                  p Сайт для привлечения новых абонентов Tele2 с уникальным контентом посвященным 300-летию Перми
                .cases__item-subtitle Функционал
                .cases__item-desc
                  ul 
                    li Расписание программы с различными оффлайн ивентами на летней площадке Tele2;
                    li Конструктор открыток с возможностью скачать или отправить по e-mail;
                    li Аудиогид в связке с API Яндекс карт и музыкальным плеером.
              .cases__item-btn
                a.btn.btn--black(href="/case-detail.html") Подробнее <i class="icon-right icon-arrow-right"></i>
            .cases__item-right
              img.cases__item-img(src="../assets/img/case-3.png", alt="World Class")
              .cases__item-bg
                img(src="../assets/img/binary-3.png", alt="binary img")

        .cases__item.gsap-fade-zoom
          .cases__item-row 
            .cases__item-left
              .cases__item-tags 
                .tags__list.tags__list--small.tags__list--black
                  .tags__item Vanilla JS
              h3.cases__item-title Alliedm
              .cases__item-info
                .cases__item-subtitle Задача
                .cases__item-desc
                  p Новый современный стиль для разработчика digital решений — от лендингов до web-приложений.
                .cases__item-subtitle Результат
                .cases__item-desc
                  ul 
                    li Совместно с дизайнером разработаны интересные визуальные решения;
                    li Подключены сложные GSAP анимации, реагирующие на скроллинг страниц;
                    li Резиновая верстка, которая заполняет все пространство вплоть до 8K экранов.
              .cases__item-btn
                a.btn.btn--black(href="/case-detail.html") Подробнее <i class="icon-right icon-arrow-right"></i>
            .cases__item-right
              img.cases__item-img(src="../assets/img/case-4.png", alt="Веб-портал")
              .cases__item-bg
                img(src="../assets/img/binary-3.png", alt="binary img")
