section.stack 
  .container 
    .stack__wrapper
      h2.section-title Инструменты
      .stack__list 
        .stack__item.gsap-fade-up Figma
        .stack__item.gsap-fade-up FigJAm
        .stack__item.gsap-fade-up Miro
        .stack__item.gsap-fade-up Useberry
        .stack__item.gsap-fade-up Яндекс Взгляд
        .stack__item.gsap-fade-up Axure
        .stack__item.gsap-fade-up Notion
        .stack__item.gsap-fade-up Confluence
        .stack__item.gsap-fade-up Jira
        .stack__item.gsap-fade-up.hide Adobe Ai
        .stack__item.gsap-fade-up.hide Adobe Ps
        .stack__item.gsap-fade-up.hide Adobe Ae
        .stack__item.gsap-fade-up.hide Яндекс Метрика
        .stack__item.gsap-fade-up.hide Google Аналитика
        .stack__item.gsap-fade-up.hide Amplitude
        .stack__item.gsap-fade-up.hide Tilda
        .stack__item.gsap-fade-up.hide Spline 3D
        .stack__item.gsap-fade-up.hide Blender 3D
        .stack__item.gsap-fade-up.stack__item--medium.hide Agile
        .stack__item.gsap-fade-up.stack__item--medium.hide Scrum
      .stack__btn-wrapper
        button.btn.btn--white.stack__btn-more Посмотреть все <i class="icon-right icon-arrow-down"></i>
