.btn-wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  position: relative;
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn {
  position: relative;
  width: auto;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 16px 24px 14px;
  font-family: var(--font-family-title);
  font-size: 16px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;

  &--white {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--white);

    i {
      background-color: var(--black);
    }

    &:hover {
      color: var(--white);
      background-color: transparent;
      border: 1px solid var(--white);

      i {
        background-color: var(--white);
      }
    }
  }

  &--white-outline {
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);

    i {
      background-color: var(--white);
    }

    &:hover {
      color: var(--black);
      background-color: var(--white);
      border: 1px solid var(--white);

      i {
        background-color: var(--black);
      }
    }
  }

  &--black {
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--black);

    i {
      background-color: var(--white);
    }

    &:hover {
      color: var(--black);
      background-color: transparent;
      border: 1px solid var(--black);

      i {
        background-color: var(--black);
      }
    }
  }
}

a.btn {
  width: inherit;
}

button[disabled] {
  pointer-events: none;
  opacity: 0.3;
}

@include for-size(tablet) {
  .btn {
    display: block;
    width: 100%;

    &--white {
      &:hover {
        color: var(--black);
        background-color: var(--white);
        border: 1px solid var(--white);

        i {
          background-color: var(--black);
        }
      }
    }

    &--black {
      &:hover {
        color: var(--white);
        background-color: var(--black);
        border: 1px solid var(--black);

        i {
          background-color: var(--white);
        }
      }
    }
  }
}
